@page "/"
<MudGrid>
    <MudItem xs="12">
        <MudGrid Spacing="3" Justify="Justify.FlexStart">
            @foreach (var card in cardsPaginas) {
            <MudItem>
                <MudLink Href="@card.Link" Underline="Underline.None" Class="text-center" Color="Color.Inherit">
                    <MudCard Style="height:120px; width:200px;">
                        <MudCardContent>
                            <div>
                                <MudIcon Icon="@card.Icono" Size="Size.Large"></MudIcon>
                            </div>
                            <div>
                                <h6 class="mat-subtitle2">@card.Nombre</h6>
                            </div>
                        </MudCardContent>

                    </MudCard>
                </MudLink>

            </MudItem>
            }
        </MudGrid>
    </MudItem>
</MudGrid>
@code{
    private class CustomCard {
        public string Link { get; set; }
        public string Nombre { get; set; }
        public string Icono { get; set; }
    }

    List<CustomCard> cardsPaginas = new List<CustomCard>() {
        new CustomCard { Link = "registrar", Nombre = "Registrar", Icono = Icons.Filled.MedicalServices },
        new CustomCard { Link = "consultar", Nombre = "Consultar Vacunados", Icono = Icons.Filled.LocalHospital },
        new CustomCard { Link = "provinciasvacunadas", Nombre = "Provincias Vacunadas", Icono = Icons.Filled.LocationCity },
        new CustomCard { Link = "marcavacunas", Nombre = "Vacunados Marca Vacunas", Icono = Icons.Filled.Sanitizer  },
        new CustomCard { Link = "signozodiacal", Nombre = "Vacunados Signo Zodiacal", Icono = Icons.Filled.Bolt },
        new CustomCard { Link = "anularvacunado", Nombre = "Anular Vacunado", Icono = Icons.Filled.Cancel },
        new CustomCard { Link = "configuracion", Nombre = "Configuración", Icono = Icons.Filled.SettingsApplications }
    };

}
