@page "/ejercicio1"

<h1>Personas</h1>

@if (personas == null) {
    <p><em>Loading...</em></p>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var persona in personas) {
                <tr>
                    <td>@persona.Nombres</td>
                    <td>@persona.Apellido1 @persona.Apellido2</td>             
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Persona> personas;

    protected override async Task OnInitializedAsync() {
        personas = await Http.GetFromJsonAsync<List<Persona>>("api/personas");
    }
}
